<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lazy.android"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="113"
          android:versionName="1.1.3">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>


    <!--设置umeng需要的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>


    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>


    <!--拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--takephoto权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--xutils的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <!--友盟的用户反馈的配置-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <!--视频录制权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>


    <application
        android:name="com.lazy.android.application.LzandroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">


        <!--设置umeng的appkey-->

        <meta-data android:value="5764c475e0f55acdc40027e7" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="APP" android:name="UMENG_CHANNEL"/>

        <!--====================================sample模块页面开始====================================-->
        <activity android:name=".sample.SampleIndexActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--xutils入口-->
        <activity android:name=".sample.xutils.activity.SampleXutilsIndexActivity"/>
        <!--umeng入口-->
        <activity android:name=".sample.umeng.Activity.SampleUmengIndexActivity"/>
        <!--极光入口-->
        <activity android:name=".sample.jiguang.Activity.SampleJiguangIndexActivity"/>
        <!--android原生开发和html交互-->
        <activity android:name=".sample.webview.LZHtmlActivity"/>
        <!--需要设置internet权限-->
        <!--<uses-permission android:name="android.permission.INTERNET" />-->
        <!--视频录制入口-->
        <!--自定义视图界面-->
        <activity android:name=".sample.divview.DivviewIndexActivity"/>
        <!--列表页面-->
        <activity android:name=".sample.divview.netlist.NetListActivity"/>
        <!--slidingmenu入口-->
        <activity android:name=".sample.divview.slidingmenu.SlidingmenuIndexActivity"/>
        <!--circleimageview-->
        <activity android:name=".sample.divview.circleimageview.CircleImageViewActivity"/>
        <!--demo的页面-->
        <activity android:name=".sample.demo.ADemoIndexActivity"/>
        <!--SurfaceView类-->
        <activity android:name=".sample.demo.DemoSurfaceViewActivity"/>

        <!--&lt;!&ndash;视频录制&ndash;&gt;-->
        <!--<activity-->
            <!--android:name=".base.LZRecorder.ActivityFFmpegPreview"-->
            <!--android:screenOrientation="portrait"/>-->
        <!--<activity-->
            <!--android:name=".base.LZRecorder.ActivityFFmpegRecorder"-->
            <!--android:screenOrientation="portrait"/>-->
        <!--<activity-->
            <!--android:name=".base.LZRecorder.ActivityRecorder"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>-->




        <activity
            android:name=".basefunc.LZRecord.PlayVideoActiviy"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".basefunc.LZRecord.RecordMainActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".basefunc.LZRecord.NewRecordVideoActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>


        <activity
            android:name=".sample.divview.activityButtonup.ActivityButtonUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_activity_buttonup"/>

        <activity
            android:name=".sample.takePhoto.SampleTakePhotoActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".basefunc.LZAlipay.AlipayDemoActivity"/>

        <!-- ########################### umeng需要的activity注册开始 ########################### -->
        <!--微信登录回调activity平台-->
        <activity
            android:name="com.lazy.android.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--QQ QZONE-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1104703359"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <!--新浪微博-->
        <activity
            android:name=".umengCallback.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>

        <!--&lt;!&ndash;人人网&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.renn.rennsdk.oauth.OAuthActivity"-->
        <!--android:configChanges="orientation|navigation|keyboardHidden" />-->

        <!--&lt;!&ndash;支付宝&ndash;&gt;-->
        <!--<activity-->
        <!--android:name=".apshare.ShareEntryActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:exported="true"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->


        <!-- ########################### umeng需要的activity注册结束 ########################### -->


        <!--<activity name>-->
        <!--====================================sample模块页面结束====================================-->

        <!--====================================小白养宠模块页面开始====================================-->


        <activity android:name=".xiaobai.ui.main.activity.InitActivity"
                  android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".xiaobai.ui.register.activity.Forhtml_NewTelnumActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/lz_CustomAlertDialog">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".xiaobai.ui.main.activity.MainIndexActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".xiaobai.ui.register.activity.LoginActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <activity
            android:name=".xiaobai.ui.register.activity.RegisterActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".xiaobai.ui.register.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".xiaobai.ui.register.activity.SmscodeLoginActivity"
            android:screenOrientation="portrait">


        </activity>


        <activity
            android:name=".xiaobai.ui.register.activity.NewTelnumActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".xiaobai.ui.register.activity.EditPasswordActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.personSet.AddressEditActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity
            android:name=".xiaobai.ui.main.activity.ShowAddtypeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <activity
            android:name=".xiaobai.ui.main.activity.ShowSendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".xiaobai.ui.search.SearchActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.common.CommentActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.pay.PayTypeActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.pay.PayResultActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.personSet.PersoninfoSetActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.personSet.AddMypetActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.personSet.PetinfoSetActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.personSet.ShopCenterActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.pay.ShopCarActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.pay.OrderAffirmActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.lazy.android.xiaobai.ui.personSet.SetIndexActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--公共webview-->
        <activity
            android:name=".xiaobai.ui.common.CommonWebViewActivity"
            android:screenOrientation="portrait"/>

        <!--底部弹出拍照-->
        <activity
            android:name=".baseui.crumbs.CrumbsTakephotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_activity_buttonup"/>

        <!--底部弹出Umeng分享-->
        <activity
            android:name=".baseui.crumbs.CrumbsUmengSharedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_activity_buttonup"/>

        <!--城市拾取器-->
        <activity
            android:name=".baseui.crumbs.CrumbsCityPick.CrumbsCityPickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_activity_buttonup">
        </activity>

        <!--性别拾取器-->
        <activity
            android:name=".baseui.crumbs.CrumbsPickerDiyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_CustomAlertDialog"/>


        <!--日期拾取器-->
        <activity
            android:name=".baseui.crumbs.CrumbsPickerDateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_CustomAlertDialog"/>


        <!--微信支付-->
        <activity
            android:name=".basefunc.LZWxpay.LZWxpayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_CustomAlertDialog"/>

        <!--微信支付回调-->
        <!--必须加下面这句android:exported="true"   否则跳转不过去-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/lz_CustomAlertDialog"/>


        <!--支付宝支付-->
        <activity
            android:name=".basefunc.LZPay.AlipayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_CustomAlertDialog">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <!--微信支付-->
        <activity
            android:name=".basefunc.LZPay.WxpayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lz_CustomAlertDialog">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <service android:name=".xiaobai.ui.register.services.UserinfoService">

        </service>
        <!--====================================小白养宠模块页面开始====================================-->

    </application>


</manifest>
